#id-zoo{
    color: rgb(175, 46, 46);
}
footer{
    background-color: rgb(71, 39, 39);
    text-align: center;
    padding:2%;
    font-size: 80%;
}
h1{
    font-size: 50px;
    color: rgb(71, 39, 39);
    font-weight: 800;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.class-zoo{
    color: green;
    background-color: palegoldenrod;
    padding: 3px;
    box-sizing: border-box;
}
h3{
    color: rgb(71, 39, 39)
}
article{
    padding: 10px;
}
nav{
    float: left;
    padding: 2px;
}
nav ul{
    list-style-type: none;
   
}
section{
    content: "";
    display: table;
    clear: both;
